/*** INDEX ***/
.ttl {
    display: block;
    color: gold;
    text-align: center;
    text-transform: uppercase;
}

.copyright {
    color: rgba(127, 132, 138, 1);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    float: left;
    padding-top: 8px;
}

/*** CONTACT ***/
.shrt {
    display: block;
    color: gold;
    text-align: center;
    padding-top: 50px;
}

.big {
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
}

.hqfu {
    display: block;
    color: darkgoldenrod;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
}

.cut {
    display: block;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
}