/*** BOX SIZING ***/
* {
    box-sizing: border-box;
}

/*** GENERAL USES ***/
.sec {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

/*** HOME ***/
.sec1-home {
    height: 100%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0,0,0,0.9)), url(../images/bg13.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
    -webkit-animation: popinanim 2s ease;
}

@-webkit-keyframes popinanim{
    0% { 
        opacity:0;
        -webkit-transform: scale(0.3);
    }        
    10% { 
        opacity:0;
        -webkit-transform: scale(0.8);
    }        
    60% { 
        opacity:1;
        -webkit-transform: scale(1);
    }
    100% { 
        opacity:1;
        -webkit-transform: scale(1);
    }
} 

.sec2-home {
    height: 810px;
    background-color: white;
    margin: 0 auto;
    padding: 80px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/bg18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pres-container {
    width: 550px;
    height: 650px;
    margin: 0 auto;
    background-color: white;
    border: 15px solid black;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    padding-top: 120px;
}

.sec3-home { 
    height: 80%;
    padding-top: 12%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec4-home {
    height: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 80px;
    /*box-shadow: inset 0 8px 15px -8px rgba(0,0,0,0.8), inset 0 -8px 15px -8px rgba(0,0,0,0.8); */
}

/*** ABOUT ***/
.sec1-about {
    height: 80%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg11.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2-about {
    height: 1100px;
    background-color: white;
    margin: 0 auto;
    padding: 100px;
}

.grid-about {
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    width: 1200px;
}

.story-thumb {
    margin: 0 auto;
    height: 450px;
    width: 600px;
    object-fit: cover;
    overflow: hidden;
    background: url(../images/story.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vision-thumb {
    margin: 0 auto;
    height: 350px;
    width: 550px;
    object-fit: cover;
    overflow: hidden;
    background: url(../images/freshfood.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec3-about { 
    height: 80%;
    padding-top: 12%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec4-about {
    height: 1100px;
    background-color: white;
    margin: 0 auto;
    padding: 80px;
}

.sec5-about { 
    height: 80%;
    padding-top: 12%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec6-about {
    height: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 80px;
}

.grid-chefs {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    width: 1000px;
    text-align: center;
}

.sec7-about { 
    height: 720px;
    padding: 210px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0)), url(../images/bg5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.review-box {
    margin: 0 auto;
    width: 1100px;
    height: 300px;
    background-color: rgba(22, 29, 39, 1);
}

.rev1, .rev2 {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.7);
}

.rev-name {
    color: khaki;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 50px;
}

#slideshow { 
    margin: 0 auto;
    position: relative; 
    width: 750px;    
}

#slideshow > p { 
    position: absolute;
    text-align: center;
    line-height: 20px;
}

/*** MENU ***/
.sec1-menu {
    height: 80%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2-menu{
    height: 7000px;    
    background-color: white;
    padding: 80px;
}

.container-Menu {
    width: 80%;
    margin: 0 auto;
}

.container-Tabs {
    margin-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

a.tabs {
    font-size: 1.15em;
    color: black;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin: 10px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a.tabs:hover {
    background-color: khaki;
    color: black;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.badge {
    position: absolute;
    background-color: salmon;
    margin-top: -20px;
    margin-left: 0px;
    border-radius: 50%;
    padding-left: 8.5px;
    padding-right: 8.5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.8em;
    color: white;
}

.container-Products {
    width: 940px;
    margin: 0 auto;
}

.grid-menu {
    display: grid;
    grid-auto-columns: auto;
    float: left;
    text-align: center;
    
}

.grid-items {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px;
    box-sizing: content-box;
    width: 260px;
    margin: 10px;
    color: black;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.grid-items:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.buttonProduct {
    width: 100%;
    height: 45px;
    background-color: salmon;
    cursor: pointer;
    border: none;
    outline-color: #aaa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: white;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.buttonProduct:hover {
    background-color: darksalmon;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.textProduct {
    height: 40px;
    width: 100%;
    text-align: center;
    outline-color: #aaa;
    border: 1px solid #ccc;
}

.viewDet {
    font-size: 1em;
    border-style: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    outline: none;
    cursor: pointer;
}

/*** CONTACT ***/
.sec1-contact {
    height: 80%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg9.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2-contact {
    height: 670px;
    background-color: white;
    margin: 0 auto;
    padding: 80px;
}

fieldset {
    border: 0;
    width: 1150px;
    padding: 0px;
    margin: 0;
}

form.contact {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 1150px;
    height: auto;
}

input[type=text] {
    padding: 12px 15px;
    box-sizing: border-box;  
    font-family: 'Montserrat', sans-serif;
}

.yname {
    height: 45px;
    float: left;
    width: 49%;
    margin-right: 20px;
    margin-bottom: 20px;    
    border: 1px solid #ccc;
    outline-color: #aaa;  
}

.yemail {
    height: 45px;
    width: 49%;
    margin-bottom: 20px;    
    border: 1px solid #ccc;
    outline-color: #aaa;  
}

textarea {
    outline-color: #aaa;
    border: 1px solid #ccc;
    resize: none;
    padding: 15px 15px;
    overflow: hidden;
    width: 100%;
    margin: 0;
    float: left;
    font-family: 'Montserrat', sans-serif;
}

.yname:focus, .yemail:focus, textarea:focus, .textProduct:focus {
    background-color: rgba(0, 0, 0, 0.01);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.buttonContact {
    width: 180px;
    height: 50px;
    background-color: #161d27;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline-color: #aaa; 
}

.buttonContact:hover {
    background-color: darkkhaki;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: black;
}

.sec3-contact {
    height: 70%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg10.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec4-contact {
    height: 715px;
    padding: 80px;
    background-color: white;
    margin: 0 auto;
}

.maps {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
}