/*** BOX SIZING ***/
* {
    box-sizing: border-box;
}

/*** GENERAL USES ***/
.sec {
    width: 80%;
    margin: 0 auto;
}

.menu-thumb {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    float: left;
    margin-bottom: 20px;
}

.menu-desc {
    width: 40%;
    margin-left: 100px;
}

.food-type-cont {
    width: 50%;
    margin-bottom: 70px;
}

/*** HOME ***/
.sec1-home {
    height: 100%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0,0,0,0.9)), url(../images/bg13.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2-home {
    height: 60%;
    background-color: white;
    margin: 0 auto;
    /*box-shadow: inset 0 8px 15px -8px rgba(0,0,0,0.8), inset 0 -8px 15px -8px rgba(0,0,0,0.8); */
}

.sec3-home { 
    height: 80%;
    padding-top: 12%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*** ABOUT ***/
.sec1-about {
    height: 80%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg11.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2-about {
    height: 80%;
    background-color: white;
    margin: 0 auto;
}

/*** MENU ***/
.sec1-menu {
    height: 80%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg17.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height:  300px;
}

ul.foodul {
    list-style: none;
    float: left;
    overflow: hidden;
}

li.foodli {
    display: inline-block;
}

.sec2-menu {
    height: 100%;    
    background-color: white;
}

.sec3-menu {
    height: 80%;    
    background-color: whitesmoke;
}

.sec4-menu {
    height: 80%;    
    background-color: white;
}

/*** CONTACT ***/
.sec1-contact {
    height: 80%;
    padding-top: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg9.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec2-contact {
    height: 90%;
    background-color: white;
    margin: 0 auto;
}

.sec3-contact {
    height: 70%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/bg10.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec4-contact {
    height: 95%;
    background-color: white;
    margin: 0 auto;
}

fieldset {
    display: block;
    border: 0;
    width: 1150px;
    padding: 0px;
    margin: 0;
}

form {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 1150px;
}

input[type=text] {
    width: 49%;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline-color: #aaa;    
    font-family: 'Quicksand', sans-serif;
}

.yname {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.yemail {
    margin-bottom: 20px;
}

textarea {
    outline-color: #aaa;
    border: 1px solid #ccc;
    resize: none;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    width: 98%;
    margin: 0;
    float: left;
    font-family: 'Quicksand', sans-serif;
}

.button {
    width: 180px;
    height: 50px;
    background-color: #161d27;
    margin: 0 auto;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    outline-color: #aaa; 
}

.button:hover {
    background-color: darkkhaki;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.maps {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
}