body, html {
    height: 100%;
    margin: 0;
    background: white;
    font-family: 'Quicksand', sans-serif;
}

/*@font-face {
    font-family: upcdl;
    src: url("../fonts/upcdl.ttf") format("truetype");
}*/

/*header {
    background: transparent;
}

header::after {
    content: '';
    display: table;
    clear: both;
}*/

/*** NAVIGATION BAR ***/
.container {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: fixed;
    transition: all ease .5s;
    z-index: 1;
}

nav {
   /* ... */
    
}

nav ul {
    margin: 0;
    padding: 70px 0;
    list-style: none;
    float: right;
    padding-right: 20%;
    transition: all ease .5s;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

nav a:hover {
    color: gold;
}

nav.shrink {
    background-color: rgba(11, 14, 19, 0.95);
    height: 60px;
    padding-top: 0px;
    transition: all ease .5s;
}

nav.shrink > ul {
    padding: 20px 0;
    transition: all ease .5s;
    padding-right: 20%;
}

/*** ANIMATIONS ***/
.sec-animate {
    position: relative;
    animation: animatebottom .8s
}

@keyframes animatebottom{
    from{
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

/*** FOOTER ***/
footer {
    bottom: 0;
    height: 540px;
    background: rgba(11, 14, 19, 1);
}

.line {
    height: 1px;
    background: rgba(30, 37, 42, 1);
    width: 100%;
}

.footer-container {
    margin: 0 auto;
    width: 80%;
}

/*** BUTTON-TO-TOP ***/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0 auto;
    position: relative;
    left: 18px;
    top: 14px;
    font-size: 22px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.95);
}

#return-to-top:hover i {
    color: gold;
    top: 10px;
}

/*** SCROLLBAR ***/
body::scrollbar {
    width: 7px;
}
body::scrollbar-thumb {
    background-color: gold;
    border-radius: 5px;
}
body::-moz-scrollbar {
    width: 7px;
}
body::-moz-scrollbar-thumb {
    background-color: gold;
    -moz-border-radius: 5px;
} 
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background-color: gold;
    -webkit-border-radius: 5px;
}