body, html {
    height: 100%;
    margin: 0;
    background: black;
    background-image: url(../images/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    zoom: reset;
}

/*@font-face {
    font-family: upcdl;
    src: url("../fonts/upcdl.ttf") format("truetype");
}*/

/*header {
    background: transparent;
}

header::after {
    content: '';
    display: table;
    clear: both;
}*/

/* Navigation bar */
.container {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: fixed;
    transition: all ease .5s;
}

nav {
   /* ... */
}

nav ul {
    margin: 0;
    padding: 70px 0;
    list-style: none;
    float: right;
    padding-right: 20%;
    transition: all ease .5s;
}

nav li {
    display: inline-block;
    margin-left: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

nav a:hover {
    color: gold;
}

nav.shrink {
    background-color: rgba(11, 14, 19, 0.8);
    height: 80px;
    padding-top: 0px;
    transition: all ease .5s;
}

nav.shrink > ul {
    padding: 30px 0;
    transition: all ease .5s;
    padding-right: 20%;
}

/* Sections */
.sec1 {
    height: 80%;
    padding-top: 15%;
}

h1 {
    color: gold;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.OPh {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.sec2 {
    /* The image used */
    background-image: url(../images/bg5.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec3 {
    background-image: url(../images/bg8.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    height: 65%;
    background: rgba(11, 14, 19, 1);
}

#line {
    
    height: 1px;
    background: rgba(30, 37, 42, 1);
    width: 100%;
}

.copyright {
    color: rgba(127, 132, 138, 1);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 1%;
    font-size: 14px;
}

/* Scrollbar */
body::scrollbar {
    width: 7px;
}
body::scrollbar-thumb {
    background-color: gold;
    border-radius: 5px;
}
body::-moz-scrollbar {
    width: 7px;
}
body::-moz-scrollbar-thumb {
    background-color: gold;
    -moz-border-radius: 5px;
} 
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background-color: gold;
    -webkit-border-radius: 5px;
}